scikit-learn 
numpy 
pandas 
joblib 

#Deployment
fastapi 
uvicorn 
pydantic 
requests 

#Explainability
shap 
nltk
spacy
langdetect
transformers
torch
tensorflow
streamlit
tf-keras
accelerate>=1.1.0
mlflow
dagshub
torchvision
multipath

#Advance models and Imbalance Handling
xgboost 
lightgbm 
Imbalanced-learn 

#Monitoring 
evidently 

#Visualization
matplotlib 
seaborn 


